.footer {
    background-color: #86907D;
    color: white;
    text-align: right;
    padding: 110px;
    height: 100px;
    font-family: 'Cormorant', serif;
  
  }
  
  .footer img {
    float: left;
    height: 50px;
  }
  
  .footer table {
    float: right;
  }
  
  .footer th {
    text-align: left;
  }
  
  .opening-hours {
    padding-left: 45px;
  }
  
  .Address {
    padding-left: 40px;
  }


  .Contact{
    padding-left: 80px;
  }


  .hours {
    padding-right: 50px;
  }
  
  .main-address {
    padding-right: 50px;
  }

  .contact-us{
    padding-right: 20px;
  }