.footer {
    background-color: #86907D;
    color: white;
    text-align: right;
    padding: 110px;
    width: 100%;
    height: 10px;
    font-family: 'Cormorant', serif;
    padding-bottom: 100px; 
    position: absolute;
    bottom: -2430px;
   }
   
  
  .footer img {
    float: left;
    height: 50px;
  }
  
  .footer table {
    float: right;
  }
  
  .footer th {
    text-align: left;
  }
  
  .opening-hours {
    padding-left: 45px;
  }
  
  .Address {
    padding-left: 40px;
  }


  .Contact{
    padding-left: 80px;
  }


  .hours {
    padding-right: 50px;
  }
  
  .main-address {
    padding-right: 50px;
  }

  .contact-us{
    padding-right: 20px;
  }


  
  @media (max-width: 767px) {
    footer {
    padding: 2rem;
    text-align: center;
    }
    
    .footer img {
    display: block;
    margin: 0 auto;
    height: 30px;
    }
    
    .footer table {
    display: block;
    margin: 0 auto;
    }
    
    .opening-hours,
    .Address,
    .Contact {
    padding-left: 0;
    text-align: center;
    padding-bottom: 1rem;
    }
    
    .hours,
    .main-address,
    .contact-us {
    padding-right: 0;
    text-align: center;
    }
    }
    

  
    
    
    
    