.about {
    padding: 2rem 4rem;
    display: flex;
}



.about-text {
    flex: 1;
    margin-right: 4rem;
}

.about-text-paragraph {
    padding-bottom: 4rem;
    padding-top: 1.2rem;
    line-height: 1.5rem;
}

.about-text-subheading {
    color: var(--color-biscuit);
    padding-top: 2rem;
    font-size: 4rem;
}

.about-img {
    flex: 1;
}

.about-img img {
    max-width: 95%;
}



@media only screen and (max-width: 767px) {
    .about {
      flex-direction: column;
      padding: 2rem;
    }
  
    .about-text {
      margin-right: 0;
      padding-bottom: 2rem;
    }
  
    .about-text-subheading {
      font-size: 2rem;
    }
  
    .about-img {
      padding-top: 2rem;
    }
  }
  
