@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

.subtitle {
font-family: 'Cormorant', serif;
color: #8A9A5B;
}

.menupic-hero{
    width: 100%
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.subtitle {
  margin-top: 20px;
}

.ptag {
  margin-top: 10px;
  width: 70%;
}

.price {
  width: 80%;
  text-align: right;
  margin-top: -33px;

}

  
.gold-biscuit {
  border: 2px solid #b59c57;
  padding: 30px;
  margin-bottom: 20px;
  margin-top: 60px;

}


.special-week{
  padding-top: 70px;
  left: 40px;
  background-color: white;
}


.Backgroundpic {
 width: 100%;
 margin-top: 40%;
}

.menupic{
  width: 100%
}



.menupic {
  width: 100%;

}

.Eba {
  text-align: center;
  position: absolute;
  top: 2200px;
  left: 190px;
}

.Eba-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
  right: 10px;
}

.Eba-subtitle {
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  left: 30px;
}

.Eba-button {
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  border-radius: 5px;
}
