@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

.subtitle {
font-family: 'Cormorant', serif;
color: #8A9A5B;
}

.menupic-hero{
    width: 100%
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.subtitle {
  margin-top: 20px;
}

.ptag {
  margin-top: 10px;
  width: 70%;
}

.price {
  width: 80%;
  text-align: right;
  margin-top: -33px;

}

  
.gold-biscuit {
  border: 2px solid #b59c57;
  padding: 30px;
  margin-bottom: 20px;
  margin-top: 60px;

}


.special-week h1{
  background-color: white;
  position: absolute;
  padding-top: 20px;
  margin-top: -3%;
  left: 40px;
}


.Backgroundpic {
 width: 100%;
 margin-top: 40%;
}