nav {
    display: flex;
    justify-content: flex-end;
  }

  nav a {
    padding: 0 10px;
  }


  nav {
    background-color: #86907D;
    height: 50px;
  }



  @media only screen and (max-width: 767px) {
    nav {
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
    }
  
    nav a {
      padding: 10px;
    }
  }
  